    <footer>
      <div class="footer">
        <form action="../mentions">
          <button class="footer-button">MENTIONS LÉGALES</button>
        </form>
      </div>
    </footer>
  </div>
</body>
</html>
