<footer>
  <div class="footer">
    <!-- COMMENTAIRE : pourquoi un élément <form> ici alors qu'il s'agit simplement d'un bouton ? une balise <a> suffirait amplement -->
    <form action="/mentions" method="get">
      <button class="footer-button">MENTIONS LÉGALES</button>
    </form>
  </div>
</footer>
</div>
</body>

</html>