<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="./css/style.css" rel="stylesheet">
  <link href="./css/mediaqueries.css" rel="stylesheet">
</head>
<body>
  <div class="container">
    <header>
      <div class="header">
          <img class="header-img" src="./images/caduceeAmbulancier.jpeg" alt="Caducée Ambulancier">
          <h1 class="header-h1">Ambulance X</h1>
          <section class="header-section">
            <form action="./login">
              <button class="header-button">S'identifier</button>
            </form>
            <form action="./signup">
              <button class="header-button" >S'enregistrer</button>
            </form>
          </section>
      </div>
    </header>
    <nav>
      <div class="nav">
        <a class="nav-a" href="./">Accueil</a>
        <a class="nav-a" href="./transports">Transports</a>
        <a class="nav-a" href="./vehicules">Véhicules</a>
        <a class="nav-a" href="./contact">Contact</a> 
      </div>
    </nav>
