<body>
  <div class="container">
    <header>
      <div class="header">
        <img class="header-img" src="images/caduceeAmbulancier.jpeg" alt="Caducée Ambulancier">
        <h1 class="header-h1">Ambulance X</h1>
        <section class="header-section">
          <a class="header-a" href="/login">S'identifier</a>
          <a class="header-a" href="/signup">S'enregistrer</a>
        </section>
      </div>
    </header>
    <nav>
      <div class="nav">
        <a class="nav-a" href="/">Accueil</a>
        <a class="nav-a" href="/transports">Transports</a>
        <a class="nav-a" href="/vehicules">Véhicules</a>
        <a class="nav-a" href="/contact">Contact</a>
      </div>
    </nav>