/* MAIN -404- */

.Page404 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../images/accueil-v2.jpeg);
  background-size: cover;
}
.Page404-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-size: 2em;
  background-color: antiquewhite;
  border: solid black 0.5em;
  border-radius: 0.5em;
  padding: 1em;
  gap: 2em;
  height: 30%;
}
