/* MAIN -404- */

.Page404 {
  align-items: center;
  background-color: antiquewhite;
  border: solid black 0.1em;
  color: black;
  display: flex;
  flex-direction: column;
  gap: 3em;
  padding: 3em;
  justify-content: center;
}
