/* MAIN -ACCOUNT- */

.account {
    align-items: center;
    background-image: url(../images/accueil-v2.jpeg);
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1em;
  }

  .account-div {
    background-color: aliceblue;
    border: solid black 0.5em;
    display: flex;
    font-size: 1.5em;
    flex-direction: column;
    gap: 1em;
    padding: 1em;
    text-align: left;
  }

  account-div-h2 {
    font-weight: bold;
  }

  .account-title {
    background-color: aliceblue;
    border: solid black 0.5em;
    padding: 0.7em;
    text-align: center;
  }