/* MAIN -ACCUEIL- */

.accueil {
  backdrop-filter: blur(5em);
  border-radius: 1em;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 3em;
  padding: 1.5em;
  -webkit-backdrop-filter: blur(5em);
}

.accueil-h1 {
  align-self: center;
  background-color: whitesmoke;
  color: royalblue;
  padding: 0.3em;
}

.accueil-section {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 2em;
}

.accueil-section-article {
  text-align: center;
}

.accueil-section-h2 {
  text-decoration: underline;
}
