/* MAIN -CONTACT- */

.contact {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../images/accueil-v2.jpeg);
  background-size: cover;
}
.contact-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 1.7em;
  background-color: aliceblue;
  border: solid black 0.1em;
  border-radius: 1em;
  padding-top: 1em;
  gap: 0.5em;
  width: 50%;
  height: 50%;
}
.contact-div-h1 {
  background-color: white;
  border: solid black 0.1em;
  padding: 0.1em;
}
.contact-div-form {
  display: flex;
  flex-direction: column;
  text-align: left;
  gap: 1em;
  padding: 0.5em;
}
