/* MAIN -LOGIN- */

.login {
  align-items: center;
  background-color: whitesmoke;
  border: solid black 0.5em;
  border-radius: 2em;
  display: flex;
  flex-direction: column;
  gap: 2em;
  padding: 3em;
}

.login-form {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.login-form button, input, textarea {
  align-self: center;
  font-size: 1em;
  font-weight: bolder;
}