* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  background-color: whitesmoke;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", "Arial, sans-serif";
}

.alert {
  color: red;
  font-size: 3em;
}



/* GRID */

.container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 13em 5em 1fr 3em;
  height: 100vh;
  width: 100vw;
}

header {
  grid-column: 1;
  grid-row: 1 / 2;
}

nav {
  grid-column: 1;
  grid-row: 2 / 3;
}

main {
  grid-column: 1;
  grid-row: 3 / 4;
}

footer {
  grid-column: 1;
  grid-row: 4 / -1;
}



/* HEADER */

.header {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: space-around;
}

.header-img {
  height: 11em;
  width: 11em;
}

.header-h1 {
  background-color: rgb(91, 91, 239);
  border: solid 0.1em black;
  border-radius: 0.3em;
  color: white;
  font-size: 6em;
  padding: 0.2em;
}

.header-section{
  display: flex;
  flex-direction: column;
}

.header-a {
  color: black;
  cursor: pointer;
  margin: 0.5em;
}



/* NAV */

.nav {
  align-items: center;
  display: flex;
  gap: 5em;
  height: 100%;
  justify-content: space-around;
}

.nav-a {
  background-color: rgb(211, 207, 207);
  border: solid 0.1em black;
  border-radius: 1em;
  color: royalblue;
  font-size: 2em;
  padding: 0.3em;
  cursor: pointer;
}



/* FOOTER */

.footer {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
}

.footer-a {
  background-color: antiquewhite;
  color: black;
  cursor: pointer;
  font-size: 1.5em;
  padding: 0.1em;
}
