/*  MEDIA QUERIES 1600PX */
@media screen and (max-width: 1600px) {
  
  /* GRID */

  .container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 12em 4em 1fr 3em;
    height: 100%;
  }

  /* HEADER */
  .header-a {
    font-size: 1.3em;
  }
  .header-h1 {
    font-size: 5.5em;
  }
  .header-img {
    height: 11em;
    width: 11em;
  }

  /* NAV */

  .nav {
    font-size: 1.5em;
  }
  

  /* MAIN */ 
  main {
    font-size: 1.2em;
  }

  /* FOOTER */
    
  .footer {
    font-size: 1.4em;
  }

}
/*  MEDIA QUERIES 1400PX */
@media screen and (max-width: 1400px) {

  .container {
    grid-template-columns: 1fr;
    grid-template-rows: 11em 5.5em 1fr 3em;
  }
  
  /* HEADER */ 
  .header-a {
    font-size: 1.2em;
  }
  .header-h1 {
    font-size: 5em;
  }
  .header-img {
    height: 10em;
    width: 10em;
  }

  /* NAV */
  .nav {
    font-size: 1.4em;
  }

  /* MAIN */
  main {
    font-size: 1.3em;
  }

  /* FOOTER */

  .footer {
    font-size: 1.3em;
  }

}
/*  MEDIA QUERIES 1200PX */
@media screen and (max-width: 1200px) {

  .container {
    grid-template-columns: 1fr;
    grid-template-rows: 10em 4.5em 1fr 3em;
  }
  
  /* HEADER */ 
  .header-a {
    font-size: 1.1em;
  }
  .header-h1 {
    font-size: 4.5em;
  }
  .header-img {
    height: 9em;
    width: 9em;
  }

  /* NAV */
  .nav {
    font-size: 1.3em;
  }

  /* MAIN */
  main {
    font-size: 1.2em;
  }

  /* FOOTER */

  .footer {
    font-size: 1.2em;
  }

}
/*  MEDIA QUERIES 900PX */
@media screen and (max-width: 900px) {
  
  .container {
    grid-template-columns: 1fr;
    grid-template-rows: 9em 4.5em 1fr 2.5em;
  }
  
  /* HEADER */ 
  .header-a {
    font-size: 1em;
  }
  .header-h1 {
    font-size: 4em;
  }
  .header-img {
    height: 8em;
    width: 8em;
  }

  /* NAV */
  .nav {
    font-size: 1.2em;
  }

  /* MAIN */
  main {
    font-size: 1.1em;
  }

  /* FOOTER */

  .footer {
    font-size: 1.1em;
  }

}
/*  MEDIA QUERIES 800PX */
@media screen and (max-width: 800px) {

  .container {
    grid-template-columns: 1fr;
    grid-template-rows: 8.5em 3em 1fr 2.5em;
  }
  
  /* HEADER */

  .header-a {
    font-size: 0.9em;
  }
  .header-h1 {
    font-size: 3.5em;
  }
  .header-img {
    height: 7em;
    width: 7em;
  }

  /* NAV */

  .nav {
    font-size: 1.1em;
  }

  /* MAIN */

  main {
    font-size: 1em;
  }

  /* FOOTER */

  .footer {
    font-size: 1em;
  }

}
/*  MEDIA QUERIES 700PX */
@media screen and (max-width: 700px) {

  .container {
    grid-template-columns: 1fr;
    grid-template-rows: 6.5em 3em 1fr 2em;
  }

  /* HEADER */

  .header-a {
    font-size: 0.8em;
  }
  .header-h1 {
    font-size: 3em;
  }
  .header-img {
    height: 6em;
    width: 6em;
  }

  /* NAV */

  .nav {
    font-size: 1em;
  }

  /* MAIN */

  main {
    font-size: 0.9em;
  }
  /* FOOTER */

  .footer {
    font-size: 0.9em;
  }

}
/*  MEDIA QUERIES 600PX */
@media screen and (max-width: 600px) {

  .container {
    grid-template-columns: 1fr;
    grid-template-rows: 6em 3.5em 1fr 2em;
  }
  
  /* HEADER */
  
  .header-a {
    font-size: 0.7em;
  }
  .header-h1 {
    font-size: 2.5em;
  }
  .header-img {
    height: 5em;
    width: 5em;
  }

  /* NAV */
  
  .nav {
    font-size: 0.9em;
  }

  /* MAIN */

  main {
    font-size: 0.8em;
  }

  /* FOOTER */

  .footer {
    font-size: 0.8em;
  }

}
/*  MEDIA QUERIES 500PX */
@media screen and (max-width: 500px) {

  .container {
    grid-template-columns: 1fr;
    grid-template-rows: 5.5em 3em 1fr 2em;
  }
  
  /* HEADER */
  .header-a {
    font-size: 0.6em;
  }
  
  .header-h1 {
    font-size: 2em;
  }

  .header-img {
    height: 4em;
    width: 4em;
  }

  /* NAV */
  .nav {
    font-size: 0.8em;
  }

  /* MAIN */
  main {
    font-size: 0.7em;
  }

  /* FOOTER */
  .footer {
    font-size: 0.7em;
  }

}
/*  MEDIA QUERIES 400PX */
@media screen and (max-width: 400px) {
  
  .container {
    grid-template-columns: 1fr;
    grid-template-rows: 5em 2.5em 1fr 1.5em;
  }

  /* HEADER */  
  .header-a {
    font-size: 0.5em;
  }
  .header-h1 {
    font-size: 1.5em;
  }
  .header-img {
    height: 3em;
    width: 3em;
  }

  /* NAV */
  .nav {
    font-size: 0.7em;
  }

  /* MAIN */
  main {
    font-size: 0.6em;
  }
  
  /* FOOTER */
  .footer {
    font-size: 0.6em;
  }

}
/*  MEDIA QUERIES 300PX */
@media screen and (max-width: 300px) {
  
  .container {
    grid-template-columns: 1fr;
    grid-template-rows: 4.5em 2em 1fr 1em;
  }
  
  /* HEADER */ 
  .header-a {
    font-size: 0.4em;
  } 
  .header-h1 {
    font-size: 1em;
  }
  .header-img {
    height: 2em;
    width: 2em;
  }

  /* NAV */
  .nav {
    font-size: 0.6em;
  }

  /* MAIN */
  main {
    font-size: 0.5em;
  }
  
  /* FOOTER */  
  .footer {
    font-size: 0.5em;
  }

}
