/*  MEDIA QUERIES 1600PX */
@media screen and (max-width: 1600px) {
  
  /* FLEX */
  .container {
    display: flex;
    flex-direction: column;
  }
  header {
    display: flex;
  }
  nav {
    display: flex;
  }
  main {
    display: flex;
  }
  footer {
    display: flex;
  }

  /* HEADER */
  .header-a {
    font-size: 1.3em;
  }
  .header-h1 {
    font-size: 6em;
  }
  .header-img {
    height: 12em;
    width: 12em;
  }

  /* NAV */

  .nav-a {
    font-size: 1.6em;
  }
  

  /* MAIN */ 
  main {
    font-size: 1.3em;
  }

  /* FOOTER */
    
  .footer-a {
    font-size: 1.6em;
  }

}
/*  MEDIA QUERIES 1400PX */
@media screen and (max-width: 1400px) {
  
  /* HEADER */ 
  .header-a {
    font-size: 1.2em;
  }
  .header-h1 {
    font-size: 5.5em;
  }
  .header-img {
    height: 11em;
    width: 11em;
  }

  /* NAV */
  .nav-a {
    font-size: 1.5em;
  }

  /* MAIN */
  main {
    font-size: 1.2em;
  }

  /* FOOTER */

  .footer-a {
    font-size: 1.5em;
  }

}
/*  MEDIA QUERIES 1200PX */
@media screen and (max-width: 1200px) {
  
  /* HEADER */ 
  .header-a {
    font-size: 1.1em;
  }
  .header-h1 {
    font-size: 5em;
  }
  .header-img {
    height: 10em;
    width: 10em;
  }

  /* NAV */
  .nav-a {
    font-size: 1.4em;
  }

  /* MAIN */
  main {
    font-size: 1.1em;
  }

  /* FOOTER */

  .footer-a {
    font-size: 1.4em;
  }

}
/*  MEDIA QUERIES 900PX */
@media screen and (max-width: 900px) {
  
  /* HEADER */ 
  .header-a {
    font-size: 1em;
  }
  .header-h1 {
    font-size: 4.5em;
  }
  .header-img {
    height: 9em;
    width: 9em;
  }

  /* NAV */
  .nav-a {
    font-size: 1.3em;
  }

  /* MAIN */
  main {
    font-size: 1em;
  }

  /* FOOTER */

  .footer-a {
    font-size: 1.3em;
  }

}
/*  MEDIA QUERIES 800PX */
@media screen and (max-width: 800px) {
  
  /* HEADER */

  .header-a {
    font-size: 0.9em;
  }
  .header-h1 {
    font-size: 4em;
  }
  .header-img {
    height: 8.5em;
    width: 8.5em;
  }

  /* NAV */

  .nav-a {
    font-size: 1.2em;
  }

  /* MAIN */

  main {
    font-size: 0.9em;
  }

  /* FOOTER */

  .footer-a {
    font-size: 1.2em;
  }

}
/*  MEDIA QUERIES 700PX */
@media screen and (max-width: 700px) {

  /* HEADER */

  .header-a {
    font-size: 0.8em;
  }
  .header-h1 {
    font-size: 3.5em;
  }
  .header-img {
    height: 8em;
    width: 8em;
  }

  /* NAV */

  .nav-a {
    font-size: 1.1em;
  }

  /* MAIN */

  main {
    font-size: 0.8em;
  }
  /* FOOTER */

  .footer-a {
    font-size: 1.1em;
  }

}
/*  MEDIA QUERIES 600PX */
@media screen and (max-width: 600px) {
  
  /* HEADER */
  
  .header-a {
    font-size: 0.7em;
  }
  .header-h1 {
    font-size: 3em;
  }
  .header-img {
    height: 7em;
    width: 7em;
  }

  /* NAV */
  
  .nav-a {
    font-size: 1em;
  }

  /* MAIN */

  main {
    font-size: 0.7em;
  }

  /* FOOTER */

  .footer-a {
    font-size: 1em;
  }

}
/*  MEDIA QUERIES 500PX */
@media screen and (max-width: 500px) {
  

  /* HEADER */
  .header-a {
    font-size: 0.6em;
  }
  
  .header-h1 {
    font-size: 2.5em;
  }

  .header-img {
    height: 6em;
    width: 6em;
  }

  /* NAV */
  .nav-a {
    font-size: 0.9em;
  }

  /* MAIN */
  main {
    font-size: 0.6em;
  }

  /* FOOTER */
  .footer-a {
    font-size: 0.9em;
  }

}
/*  MEDIA QUERIES 400PX */
@media screen and (max-width: 400px) {

  /* HEADER */  
  .header-a {
    font-size: 0.5em;
  }
  .header-h1 {
    font-size: 2em;
  }
  .header-img {
    height: 5em;
    width: 5em;
  }

  /* NAV */
  .nav-a {
    font-size: 0.8em;
  }

  /* MAIN */
  main {
    font-size: 0.5em;
  }
  
  /* FOOTER */
  .footer-a {
    font-size: 0.8em;
  }

}
/*  MEDIA QUERIES 300PX */
@media screen and (max-width: 300px) {
  
  /* HEADER */ 
  .header-a {
    font-size: 0.4em;
  } 
  .header-h1 {
    font-size: 1.5em;
  }
  .header-img {
    height: 4em;
    width: 4em;
  }

  /* NAV */
  .nav-a {
    font-size: 0.7em;
  }

  /* MAIN */
  main {
    font-size: 0.4em;
  }
  
  /* FOOTER */  
  .footer-a {
    font-size: 0.7em;
  }

}
