/* MAIN -MENTIONS- */

.mentions {
  align-items: center;
  color: whitesmoke;
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: 1em;
  justify-content: center;
  width: 100%;
}

.mentions-h1 {
  background-color: antiquewhite;
  border: solid black 0.1em;
  color: black;
  padding: 0.1em;
}

.mentions-section {
  backdrop-filter: blur(3em);
  border-radius: 1em;
  gap: 1em;
  padding: 1em;
  text-align: center;
  -webkit-backdrop-filter: blur(3em);
}
