* {
  box-sizing: border-box;;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', 'Arial, sans-serif';
  background-color: whitesmoke;
}

.alert {
  font-size: 3em;
  color: red;
}

/* GRID */

.container {
  display: grid;
  grid-template-columns: 13rem 1fr;
  grid-template-rows: 13rem 1fr 3rem;
  width: 100vw;
  height: 100vh;
}
header {
  grid-row: 1 / 2;
  grid-column: 2 / 4;
}
nav {
  grid-row: 2 / 3;
  grid-column: 1 / 2;
}
main {
  grid-row: 2 / 3;
  grid-column: 2 / 4;
}
footer {
  grid-row: 3 / -1;
  grid-column: -2 / -1;
}

/* HEADER */

.header {
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.header-img {
  width: 11em;
  height: 11em;
}
.header-h1 {
  font-size: 6em;
  color: white;
  background-color: rgb(91, 91, 239);
  border: solid 0.1em black;
  border-radius: 0.3em;
  padding: 0.2em;
}
.header-button {
  margin: 0.5em;
  cursor: pointer;
}

/* NAV */

.nav {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5em;
}
.nav-a {
  font-size: 2em;
  background-color: rgb(211, 207, 207);
  color: royalblue;
  border: solid 0.1em black;
  border-radius: 1em;
  padding: 0.3em;
}

/* FOOTER */

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.footer-button {
  font-size: 1.5em;
  background-color: antiquewhite;
  padding: 0.1em;
  cursor: pointer;
}

/* MAIN -404- */

.Page404 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../images/accueil-v2.jpeg);
  background-size: cover;
}
.Page404-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-size: 2em;
  background-color: antiquewhite;
  border: solid black 0.5em;
  border-radius: 0.5em;
  padding: 1em;
  gap: 2em;
  height: 30%;
}

/* MAIN -ACCUEIL- */

.accueil {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../images/accueil-v2.jpeg);
  background-size: cover;
}
.accueil-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 2em;
  color: white;
  backdrop-filter: blur(0.3em);
  -webkit-backdrop-filter: blur(0.3em);
  border-radius: 1em;
  padding: 0.3em;
  gap: 0.5em;
}
.accueil-div-li {
  text-align: left;
}

/* MAIN -CONTACT- */

.contact {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../images/accueil-v2.jpeg);
  background-size: cover;
}
.contact-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 1.7em;
  background-color: aliceblue;
  border: solid black 0.1em;
  border-radius: 1em;
  padding-top: 1em;
  gap: 0.5em;
  width: 50%;
  height: 50%;
}
.contact-div-h1 {
  background-color: white;
  border: solid black 0.1em;
  padding: 0.1em;
}
.contact-div-form {
  display: flex;
  flex-direction: column;
  text-align: left;
  gap: 1em;
  padding: 0.5em;
}

/* MAIN -LOGIN- */

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../images/accueil-v2.jpeg);
  background-size: cover;
}
.login-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-size: 1.7em;
  background-color: aliceblue;
  border: solid black 0.1em;
  border-radius: 1em;
  padding-top: 1em;
  gap: 0.5em;
  width: 30%;
  height: 30%;
}
.login-div-form {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

/* MAIN -MENTIONS- */

.mentions {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../images/accueil-v2.jpeg);
  background-size: cover;
}
.mentions-div {
  display: flex;
  flex-direction: column;
  font-size: 2em;
  color: antiquewhite;
  text-align: center;
  gap: 2em;
}
.mentions-div-h1 {
  background-color: antiquewhite;
  color: black;
  border: solid black 0.1em;
  padding: 0.1em;
}
.mentions-div-section {
  backdrop-filter: blur(1em);
  -webkit-backdrop-filter: blur(1em);
  border-radius: 1em;
  padding: 1em;
  gap: 1em;
}

/* MAIN -SIGNUP- */

.signup {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../images/accueil-v2.jpeg);
  background-size: cover;
}
.signup-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 1.5em;
  background-color: aliceblue;
  border: solid black 0.1em;
  border-radius: 1em;
  gap: 0.3em;
  width: 50%;
  height: 50%;
}
.signup-div-form {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

/* MAIN -TRANSPORTS- */

.transports {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../images/accueil-v2.jpeg);
  background-size: cover;
}
.transports-div {
  display: flex;
  flex-direction: column;
  font-size: 1.5em;
  color: aliceblue;
  backdrop-filter: blur(1em);
  -webkit-backdrop-filter: blur(1em);
  padding: 1.7em;
  border-radius: 1em;
  gap: 1em;
}
.transports-div-h1 {
  text-align: center;
}
.transports-div-h2 {
  text-align: center;
}


/* MAIN -VEHICULES- */

.vehicules {
  display: flex;
  flex-direction: column;
  border: solid rgb(29, 135, 228) 0.5em;
}
.vehicules-div {
  display: flex;
  flex-direction: row;
  height: 75%;
}
.vehicules-div-img {
  width: 50%;
}

