/* MAIN -TRANSPORTS- */

.transports {
  backdrop-filter: blur(5em);
  border-radius: 1em;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 2em;
  padding: 1.5em;
  -webkit-backdrop-filter: blur(5em);
}

.transports h1 {
  font-weight: bold;
  text-align: center;
}

.transports section {
  line-height: 1.5em;
}

.transports p {
  font-weight: bold;
  line-height: 1.5em;
  text-align: center;
  text-decoration: underline;
}

