/* MAIN -TRANSPORTS- */

.transports {
  backdrop-filter: blur(5em);
  border-radius: 1em;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 2em;
  padding: 1.5em;
  -webkit-backdrop-filter: blur(5em);
}

.transports-h1 {
  align-self: center;
  background-color: whitesmoke;
  border: solid black 0.3em;
  color: royalblue;
  padding: 0.3em;
}

.transports-h2 {
  text-decoration: underline;
}

.transports-article {
  font-weight: bold;
  line-height: 2em;
  text-align: center;
}

