/* MAIN -VEHICULES- */

.vehicules {
  border: solid rgb(29, 135, 228) 0.5em;
  display: flex;
  flex-direction: column;
}

.vehicules-div {
  display: flex;
  flex-direction: row;
  height: 75%;
}

.vehicules-div-img {
  width: 50%;
}
