/* MAIN -VEHICULES- */

.vehicules {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

#vehicules-slide {
  max-width: 100%;
  height: auto;
  cursor: pointer;
}