/* MAIN -VEHICULES- */
.vehicules {
  backdrop-filter: blur(5em);
  -webkit-backdrop-filter: blur(5em);
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.vehicules-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  
}
#picture {
  cursor: pointer;
  width: 50em;
  height: 40em;
}