<%- include('./partials/head') %>

  <%- include('./partials/header-nav') %>

    <main class="Page404">
      <div class="Page404-div">
        <h1>Oups, tu es perdu/ue ???</h1>
        <p>La sortie, c'est par <a href="/">là</a>!</p>
      </div>
    </main>
    
  <%- include('./partials/footer') %>