<%- include('./partials/head') %>

<%- include('./partials/header-nav') %>

<main class="account">
  <div class="account-div">
    
    <h1 class="account-div-h1">Gestion de compte</h1>

    <h2 class="account-div-h2">
      <u>Informations de compte :</u>
    <h2>
      
    <section class="account-div-section">
      <label for="firstname">
        Prénom :
      </label>
      <label for="lastname">
        Nom :  
      </label>
      <label for="email">
        Courriel : 
      </label>
    </section>

    <h2 class="account-div-h2">
      <u>Modification de mot de passe :</u>
    </h2>

    <form class="account-div-form" action="/account" method="post">
      <label for="currentPassword">
        <u>Mot de passe actuel</u>:
        <input type="password" id="currentPassword" name="currentPassword" required>
      </label>
      <label for="newPassword">
        <u>Nouveau mot de passe</u>:
        <input type="password" id="newPassword" name="newPassword" required>
      </label>
      <label for="confirmNewPassword">
        <u>Confirmer le nouveau mot de passe</u>:
        <input type="password" id="confirmNewPassword" name="confirmNewPassword" required>
      </label>
      <input class="account-div-input" type="submit" value="Valider">
    </form>

  </div>
</main>

<%- include('./partials/footer') %> 