<%- include('./partials/head') %>

  <%- include('./partials/header-nav') %>
    <main>
      <div class="account">
        <section class="account-section">
          <h2>Informations sur l'utilisateur</h2>
          <p>Nom: <span id="user-lastname">seb</span></p>
          <p>Prénom: <span id="user-firstname">fcx</span></p>
          <p>Email: <span id="user-email">sebfcx@gmail.com</span></p>
        </section>
      </div>
    </main>
  <%- include('./partials/footer') %> 