<%- include('./partials/header-nav') %>

<main class="contact">
        <div class="contact-div">
          <h1 class="contact-div-h1" >LE SAVIEZ-VOUS ?</h1>
          <br>
          <p class="contact-div-p">
            PAR DÉCISION MINISTÉRIELLE DU 24/04/1968, <br> 
            VOUS AVEZ LE LIBRE CHOIX DE VOTRE AMBULANCIER <br>
            EXIGEZ-LE SURTOUT LORS DE VOS ENTRÉES ET SORTIES D'HOSPITALISATION ! <br>
          </p>
          <br>
          <p class="contact-div-p">
            <u>Pour plus de renseignements :</u> <br>
            <br>
            Contactez-nous en priorité au 02.XX.XX.XX.XX <br>
            <br>
            Courriel : <br>
            contact@ambulanceX.com
          </p>
        </div>
        <div class="contact-div">
          <h1 class="contact-div-h1" >CONTACT</h1>
          <br>
          <form class="contact-div-form" action="https://formspree.io/f/xdoqggdo" method="POST">
            <label>
              Nom:
              <input type="text" name="Nom">
            </label>
            <label>
              Prénom:
              <input type="text" name="Prénom">
            </label>
            <label>
              Email:
              <input type="email" name="email">
            </label>
            <label>
              Votre message:
              <textarea name="message"></textarea>
            </label>
            <br>
            <button type="submit">Envoyer</button>
          </form>
        </div>
    </main>

<%- include('./partials/footer') %>
