<%- include('./partials/head') %>

<%- include('./partials/header-nav') %>

<main class="login">
  <div class="login-div">

    <h1><u>Connexion</u></h1>

    <form class="login-div-form" action="/login" method="post">
      
      
      <label for="email">
        Email:
        <input type="email" id="email" name="email" required>
      </label>
      
      <label for="password">
        Password:
        <input type="password" id="password" name="password" required>
      </label>

      <input class="login-div-input" type="submit" value="Valider">
      
    </form>


  </div>
</main>

<%- include('./partials/footer') %>