<%- include('./partials/head') %>

<%- include('./partials/header-nav') %>
      
<main>
  <div class="login">
    <h1>CONNEXION</h1>
    <form class="login-form" action="/login" method="post">
      <label for="email">
        Email:
        <input type="email" id="email" name="email" required>
      </label>
      <label for="password">
        Password: 
        <input type="password" id="password" name="password" required>
      </label>
      <input class="login-input" type="submit" value="Valider">
    </form>
  </div>
</main>

<%- include('./partials/footer') %>