<%- include('./partials/head') %>

<%- include('./partials/header-nav') %>

<main class="signup">
  <div class="signup-div">
    
    <h1><u>Création de compte</u></h1>
    
    <form class="signup-div-form" action="/signup" method="post">

      <label for="firstname">
        Prénom:
        <input type="text" id="firstname" name="firstname" required>
      </label>

      <label for="lastname">
        Nom:
        <input type="text" id="lastname" name="lastname" required>
      </label>

      <label for="email">
        Email:
        <input type="email" id="email" name="email" required>
      </label>

      <label for="password">
        Mot de passe:
        <input type="password" id="password" name="password" required>
      </label>

      <label for="confirmation">
        Confirmation:
        <input type="password" id="confirmation" name="confirmation" required>
      </label>
    
      <input class="signup-div-input" type="submit" value="Valider">
      
    </form>        
    

  </div>
</main>
    
<%- include('./partials/footer') %>