<!DOCTYPE html>

<html lang="fr">
  
  <%- include('./partials/head') %>
  
  <body>
    <div class="container">
    
      <%- include('./partials/header-nav') %>

      <main>
        <div class="transports">
          <h1 class="transports-h1">LES TRANSPORTS</h1>
          <section>
            <h2 class="transports-h2">Nos prestations :</h2>
            <ul>
              <li>Entrées et sorties d'hospitalisation</li>
              <li>Hospitalisation de jour (ambulatoire, chimiothérapie, rééducation
                fonctionnelle…)</li>
              <li>Consultations</li>
              <li>Transports en série (kinésithérapie, radiothérapie, dialyse, orthophoniste,
                CMP, CATTP...)</li>
              <li>Transports d’enfants vers les différents centres médicaux</li>
              <li>Urgences (SMUR, centre 15)</li>
              <li>Assistances</li>
              <li>Transports longues distances</li>
            </ul>
          </section>
          <section>
            <h2 class="transports-h2">Les conditions de prise en charge :</h2>
            <ul>
              Les transports sont remboursables dès lors que le patient détient une Prescription Médicale de Transport
              (PMT) <br>
              Sont légalement remboursables, les transports en :
              <li>Ambulance</li>
              <li>rapport avec une Affection de Longue Durée (ALD exo et non exonérante)</li>
              <li>rapport avec ses soins continus de plus de 6 mois (art 324.1)</li>
              <li>rapport avec une hospitalisation</li>
              <li>rapport avec un AT (Accident de Travail) dès l'instant où ils sont reconnus
                par la Sécurité Sociale</li>
              <li>rapport avec une MP (Maladie professionnelle) dès l'instant où elles sont
                reconnues par la Sécurité Sociale</li>
            </ul>
          </section>
          <section>
            <h2 class="transports-h2">Une demande d'accord préalable doit être faite auprès de la caisse pour :</h2>
            <ul class="transports-ul">
              <li>Les transports vers un lieu distant de plus de 150 kms</li>
              <li>Les transports en série à partir de 50 kms, sans lien avec une ALD</li>
            </ul>
          </section>
          <p>
            Pour être sûr de la prise en charger de vos transports, <br>
            Consultez-nous : <br>
            Nous saurons vous renseigner !!!
          </p>
        </div>
      </main>

      <%- include('./partials/footer') %>

    </div>
  </body>
</html>
