<%- include('./partials/head') %>

    <body>
        <%- include('./partials/header-nav') %>

            <main class="vehicules">
                <div class="vehicules-div">
                    <!-- COMMENTAIRE : ici tous les chemins étaient relatifs au format ../images/.... ce qui n'est pas bon -->
                    <img class="vehicules-div-img" src="/images/vsl01-v2.jpeg" alt="VSL">
                    <img class="vehicules-div-img" src="/images/vsl02-v2.jpeg" alt="VSL">
                </div>
                <div class="vehicules-div">
                    <img class="vehicules-div-img" src="/images/amb01-v2.jpeg" alt="AMBULANCES">
                    <img class="vehicules-div-img" src="/images/amb02-v2.jpeg" alt="AMBULANCES">
                </div>
            </main>

            <%- include('./partials/footer') %>
    </body>

    </html>