<!DOCTYPE html>

<html lang="fr">
  
  <%- include('./partials/head') %>
  <body>
    <div class="container">
      
      <%- include('./partials/header-nav') %>
      
      <main>
        <div class="vehicules">
          <div class="vehicules-slide">
            <img id="picture" onclick="Slide(1)" src="images/vsl01.webp" alt="Photo de Véhicule Sanitaire Léger">
          </div>
        </div>
      </main>
      
      <%- include('./partials/footer') %>
      
    </div>
    <script src="js/slide.js"></script>
  </body>
</html>
